extends jade/layout/master.jade

block config
  - currentPage = formsPage
  - title = title + ' - Amazium Forms'

block content
  h2 Amazium Forms
  p
    | Thanks to the awesome 
    a(href='https://github.com/shahrukhomar', target='_blank') Shahrukh Omar 
    | who has made it possible to show the label of an input when the user starts 
    | typing in a field so know what each field is. All you will need to do is add 
    | css class nysmnyd-labels 
    | to your form and make sure you have the Amazium.js file included and you too 
    | will have fancy show/hide lables on your inputs.
  form.nysmnyd-labels(name='', method='', action='')
    - tab_index = 1
    section.row
      article.grid_4
        fieldset
          label(for='text') Text
          input#text(type='text', name='text', placeholder='Text', tabindex='#{tab_index++}')
        fieldset
          label(for='password') Password
          input#password(type='password', name='password', placeholder='Password', tabindex='#{tab_index++}')
        fieldset
          label(for='url') URL
          input#url(type='url', name='url', placeholder='Url', tabindex='#{tab_index++}')
        fieldset
          label(for='tel') Tel
          input#tel(type='tel', name='tel', placeholder='Tel', tabindex='#{tab_index++}')
      article.grid_4
        fieldset
          label(for='email') Email
          input#email(type='email', name='email', placeholder='Email', tabindex='#{tab_index++}')
        fieldset
          label(for='options') Options
          span.select
            select#dropdown(name='dropdown', tabindex='#{tab_index++}')
              option(selected='') Option 1
              option Option 2
              option Option 3
        fieldset
          label(for='message') Message
          textarea#message(name='message', placeholder='Message...', tabindex='#{tab_index++}')
    section.row
      article.grid_4 &nbsp;
      article.grid_2          
        input#submitbtn(type='reset', name='reset', tabindex='#{tab_index++}', value='Reset') 
      article.grid_2
        input#submitbtn(type='submit', name='submit', tabindex='#{tab_index++}', value='Submit')            
  h3 paras.jade
  pre
    code.
      form.nysmnyd-labels(name='', method='', action='')
        - tab_index = 1
        section.row
          article.grid_4
            fieldset
              label(for='text') Text
              input#text(type='text', name='text', placeholder='Text', tabindex='&num;{tab_index++}')
            fieldset
              label(for='password') Password
              input#password(type='password', name='password', placeholder='Password', tabindex='&num;{tab_index++}')
            fieldset
              label(for='url') URL
              input#url(type='url', name='url', placeholder='Url', tabindex='&num;{tab_index++}')
            fieldset
              label(for='tel') Tel
              input#tel(type='tel', name='tel', placeholder='Tel', tabindex='&num;{tab_index++}')
          article.grid_4
            fieldset
              label(for='email') Email
              input#email(type='email', name='email', placeholder='Email', tabindex='&num;{tab_index++}')
            fieldset
              label(for='options') Options
              span.select
                select#dropdown(name='dropdown', tabindex='&num;{tab_index++}')
                  option(selected='') Option 1
                  option Option 2
                  option Option 3
            fieldset
              label(for='message') Message
              textarea#message(name='message', placeholder='Message...', tabindex='&num;{tab_index++}')  
        section.row
          article.grid_4 &amp;nbsp;
          article.grid_2          
            input#submitbtn(type='reset', name='reset', tabindex='&num;{tab_index++}', value='Reset') 
          article.grid_2
            input#submitbtn(type='submit', name='submit', tabindex='&num;{tab_index++}', value='Submit')    
  h3 paras.php
  pre
    code.
      &lt;?php
      include "lib/Template.class.php";
      $template = new Template();
      $template-&gt;display('templates/forms.phtml');