extends jade/layout/master.jade

block config
  - currentPage = tablesPage
  - title = title + ' - Tables'

block content
  h2 Tables
  p This is an example of a table generated in PHP on the server. 
  table
    thead
      tr
        th(scope='col') #ID:
        th(scope='col') First Name:
        th(scope='col') Last Name:
        th(scope='col') Location:
    tbody
      //----------------------------------------------
      //- Assign php row expressions to jade variables
      - id         = php("$row['id']")
      - first_name = php("$row['first_name']")
      - last_name  = php("$row['last_name']")
      - location   = php("$row['location']")
      //----------------------------------------------
      :php
        $isEven = true;
        foreach($table as $row):
        if ($isEven):
      tr.even
        td #!{id}
        td !{first_name}
        td !{last_name}
        td !{location}
      :php else:
      tr.odd
        td #!{id}
        td !{first_name}
        td !{last_name}
        td !{location}        
      :php
        endif;
        $isEven = !$isEven;
        endforeach;
  h3 tables.jade
  pre
    code.
      table
        thead
          tr
            th(scope='col') #ID:
            th(scope='col') First Name:
            th(scope='col') Last Name:
            th(scope='col') Location:
        tbody
          //----------------------------------------------
          //- Assign php row expressions to jade variables
          - id         = php("$row['id']")
          - first_name = php("$row['first_name']")
          - last_name  = php("$row['last_name']")
          - location   = php("$row['location']")
          //----------------------------------------------          
          :php 
            $isEven = true;
            foreach($table as $row):
            if ($isEven):
          tr.even
            td #&excl;{id}
            td &excl;{first_name}
            td &excl;{last_name}
            td &excl;{location}            
          :php else:
          tr.odd
            td #&excl;{id}
            td &excl;{first_name}
            td &excl;{last_name}
            td &excl;{location}            
          :php 
            endif;
            $isEven = !$isEven;
            endforeach;          
  h3 tables.php
  pre
    code.
      &lt;?php
      include "lib/Template.class.php";
      $template = new Template();

      $table = [
        ['id' =&gt; 1, 'first_name' =&gt; 'Bruce', 'last_name' =&gt; 'Wayne', 'location' =&gt; 'Gotham City'],
        ['id' =&gt; 2, 'first_name' =&gt; 'Clarke', 'last_name' =&gt; 'Kent', 'location' =&gt; 'Metropilis'],
        ['id' =&gt; 3, 'first_name' =&gt; 'Oliver', 'last_name' =&gt; 'Queen', 'location' =&gt; 'Star City'],
        ['id' =&gt; 4, 'first_name' =&gt; 'Diana', 'last_name' =&gt; 'Prince', 'location' =&gt; 'Themyscira']
      ];

      $template-&gt;assign('table', $table);
      $template-&gt;display('templates/tables.phtml');